<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Casamentos</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
            
    </style>
</head>
<body>
     <div class="container mb-4">
        <header class="p-5 text-center">
            <h1>Bem-vindo</h1>
        </header>
        <div class="row">
            {{#if casamento.length}}
                    {{#each casamento}}
                        <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card p-5 border border-danger rounded">
                                    <h2>{{titulo}}</h2>
                                    <p class="card-body"><strong>Data:</strong> {{data_casamento}}</p>
                                    <form action="/casamento/{{id}}/detalhes" method="post">
                                        <label class="px-1" for="nome">Convidado</label>
                                        <input type="text" id="nome" name="nome" placeholder="Nome Completo" class="btn btn-outiline-danger border border-danger rounded" required>
                                        <button  type="submit" class="btn btn-outiline-danger border border-danger rounded">Enviar</button>
                                    </form> 
                                
                                </div>
                        </div>
                    {{/each}}   
            {{else}}
                <p class="text-muted text-stard">Sem casamentos no momento.</p>
            {{/if}}
        </div>
    </div>

    
</body>
</html>
