<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Casamentos</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
            
    </style>
</head>
<body>
     <div class="container mb-4" >
        <header class="p-5 text-center">
        </header>
        <div class="row p-2" >
            {{#if casamento.length}}
                    {{#each casamento}}
                        <div class="col-md-12 col-sm-12" style="">
                                <div class="card border-danger mb-3">
                                    <h2 class="card-header border-danger p-4"> {{titulo}}</h2>
                                    <p class="card-body p-4"><strong>Data:</strong> {{data_casamento}}</p>
                                    <form action="/casamento/{{id}}/detalhes" method="post" class="p-4">
                                        <label class="" for="nome">Convidado</label>
                                        <input type="text" id="nome" name="nome" placeholder="Nome Completo" class="btn btn-outiline-danger border border-danger rounded" required>
                                        <button  type="submit" class="mx-1 btn btn-outiline-danger border border-danger rounded">Enviar</button>
                                    </form> 
                                
                                </div>
                        </div>
                    {{/each}}   
            {{else}}
                <p class="text-muted text-stard">Sem casamentos no momento.</p>
            {{/if}}
        </div>
    </div>

    
</body>
</html>
