    
<div class="container-fluid">
    
    <header class=" row p-3" style="background-color: rgb(253, 152, 215);">

        <h1 class=" col text-center m-4" style="font-size: 25px;">
            Bem-vindo(a) ao Site de Presentes do nosso Casamento!
        </h1>

    </header>

</div>

    <div class="row form-group mx-2 border border-danger " style="height: 80vh; ">
        <form class=" col-12 d-flex justify-content-center">
            <div class="d-flex align-items-center">

                <label class="m-2 text-danger p-3" for="Nome">Convidado</label>
                <input type="text" id="Nome" name="Nome" placeholder="Nome Completo" class="px-3 py-2 border border-danger rounded">
                <button type="submit" class="btn btn-outline-danger mx-2">Enviar</button>

            </div>
        </form>
    </div>






