<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container" style="width: 18rem;">
        <div class="card">
          
                {{#if casamento.length}}
                {{#each casamento}}
                    <a href="/casamento/{{this.id}}/detalhes" class="text-decoration-nome">
                        <div>
                            <h2>{{this.titulo}}</h2>
                        </div>
                    </a>
                {{/each}}
            {{else}}
                <p>Sem Casamentos no momento;</p>
            {{/if}}
            
        </div>
    </div>
</body>
</html>





