<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <header class=" row p-3" style="background-color: rgb(253, 152, 215);">

                <h1 class=" col text-center m-4">
                    Bem-vindo
                </h1>

            </header>
            <div class=" d-flex justify-content-center row form-group m-2 ">
                <form class="">
                    <label class="m-3 " for="Nome">Convidado</label>
                    <input type="text" id="Nome" name="Nome" placeholder="Convidado" class="p-2">
                </form>
            </div>

        </div>
    </div>
</div>




